{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta coordinador</title>
    <link rel="stylesheet" href="{% static 'app/css/editar_postulacion.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
    <input type="checkbox" id="check">
    <!--header area start-->
    <header>
      <div class="left_area">
        <h3>Actualizar semestre</h3>
      </div> 
      <div class="right_area">
        <a href="{% url 'app:post_salir' %}" class="logout_btn">Salir</a>
      </div>
    </header>
    <div class="sidebar">
    </div>
    <div class="content">
        <form class="form-crear" method="POST" action="{% url 'app:actualizar_semestre_post' %}">
            <div class="header">
                <h1>Actualizar semestre</h1>
            </div>
            <div class="estado">
                <label for="estado">Semestre</label><h5>*</h5>
                <br>
                <input type="text" id="esta" required name="semestre" value="{{configuracion.semestre}}">
            </div>
            <div class="crear">
                <button class="bt_crea_convocatoria" type="submit">
                Actualizar semestre</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
</body>
</html>