{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta de empresa</title>
    <link rel="stylesheet" href="{% static 'app/css/confirmar_postulacion.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
    <!--header area start-->
    <header>
      <div class="left_area">
        <h3>Empresa - {{request.user.username}}</h3>
      </div> 
      <div class="right_area">
        <a href="{% url 'app:post_salir' %}" class="logout_btn">Salir</a>
      </div>
    </header>
    <div class="content">
        <div class="cuadro">
            <div class="header">
                <p>Esta seguro de cerrar la convocatoria?</p>
            </div>
            <div class="cuerpo">
                <form action="{% url 'app:cerrar_convocatoria_post' convocatoria.id %}" method="POST">
                <button type="submit" id="si">Si</button>
                <a href="{% url 'app:lista_convocatoria' %}" id="no">No</a>
                {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</body>
</html>