{% extends 'app/layout_estudiante.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'app/css/consultas.css' %}">
{% endblock %}
{% block contenido %}
{% if postulacion %}
<h1><i class="fas fa-building"></i> {{postulacion.convocatoria.empresa.user.username}}</h1>
<hr>
<label for="nombre_convocatoria">Nombre convocatoria</label>
<h2>{{postulacion.convocatoria.nombre}}</h2>
<hr>
<label for="desc">Descripcion convocatoria</label>
<p>{{postulacion.convocatoria.descripcion}}</p>
<hr>
<label for="fini">Fecha inicial</label>
<h2>{{postulacion.convocatoria.fecha_inicial}}</h2>
<label for="fini">Fecha final</label>
<h2>{{postulacion.convocatoria.fecha_final}}</h2>
<hr>
<label for="fini">Fecha postulacion</label>
<h2>{{postulacion.fecha_creacion}}</h2>
<hr>
<label for="fini">Estado postulacion</label>
{% if postulacion.aceptada is True %}
<h2>Aceptada</h2>
{% else %}
<h2>Rechazada</h2>
{% endif %}
{% endif %}
{% endblock %}