{% extends 'app/layout_empresa.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'app/css/consultas.css' %}">
{% endblock %}
{% block contenido %}
<h1><i class="fas fa-user-circle"></i> {{postulacion.estudiante.user.first_name}} {{postulacion.estudiante.user.last_name}}</h1>
<hr>
<label for="email">Email</label>
<h2>{{postulacion.estudiante.user.email}}</h2>
<hr>
<label for="fortalezas">Fortalezas</label>
<p>{{postulacion.estudiante.fortalezas}}</p>
<hr>
<label for="estado">Herramientas</label>
<p>{{postulacion.estudiante.herramientas}}</p>
{% endblock %}