{% extends 'app/layout_coordinador.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/listas.css' %}">
{% endblock %}
{% block contenido %}
<h1><i class="fas fa-history"></i> Historico de estudiantes en practica</h1>
<hr>
<table class="tablas">
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Empresa</th>
        <th>Fecha Inicial</th>
        <th>Fecha Final</th>
        <th>Semestre</th>
      </tr>
    </thead>
    
    <tbody>
      {% for pos in postulaciones|dictsort:"semestre" %}
      <tr>
        <td>{{pos.estudiante.user.first_name}}</td>
        <td>{{pos.estudiante.user.last_name}}</td>
        <td>{{pos.estudiante.user.email}}</td>
        <td>{{pos.convocatoria.empresa.user.username}}</td>
        <td>{{pos.convocatoria.fecha_inicial}}</td>
        <td>{{pos.convocatoria.fecha_final}}</td>
        <td>{{pos.semestre}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}