{% extends 'app/layout_coordinador.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'app/css/consultas.css' %}">
{% endblock %}
{% block contenido %}
{% if convocatoria %}
<h1>{{convocatoria.nombre}}</h1>
<hr>
<label for="fincial">Fecha Incial</label>
<h2>{{convocatoria.fecha_inicial}}</h2>
<label for="ffinal">Fecha Final</label>
<h2>{{convocatoria.fecha_final}}</h2>
<hr>
<label for="estado">Estado</label>
{% if convocatoria.abierta is True %}
<h2>Cerrada</h2>
{% else %}
<h2>Abierta</h2>
{% endif %}
<hr>
<label for="lista" id="postulantes">Lista postulantes</label>
<table class="tabla_convocatorias">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Estado postulacion</th>
      </tr>
    </thead>
    
    <tbody>
      {% for pos in postulaciones %}
      <tr>
        <td>{{pos.estudiante.user.first_name}} {{pos.estudiante.user.last_name}}</td>
        <td>{{pos.estudiante.user.email}}</td>
        {% if pos.aceptada is True %}
        <td>Aceptada</td>
        {% else %}
        <td>Rechazada</td>
        {% endif %}
      </tr>
      {% endfor %}
      </tbody>
</table>
{% endif %}
{% endblock %}
