{% extends 'app/layout_coordinador.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/consultas.css' %}">
{% endblock %}
{% block contenido %}
<h1><i class="fas fa-user-circle"></i> {{estudiante.user.first_name}} {{estudiante.user.last_name}}</h1>
<hr>
<label for="email">Email</label>
<h2>{{estudiante.user.email}}</h2>
<hr>
<label for="fortalezas">fortalezas</label>
<p>{{estudiante.fortalezas}}</p>
<hr>
<label for="estado">Herramientas</label>
<p>{{estudiante.herramientas}}</p>

{% endblock %}