{% extends 'app/layout_coordinador.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/consultas.css' %}">
{% endblock %}
{% block contenido %}
<h1><i class="fas fa-building"></i> {{empresa.user.username}}</h1>
        <hr>
        <label for="fcreacion">Fecha de creacion</label>
        <h2>{{empresa.fecha_creacion}}</h2>
        <hr>
        <label for="ciudad">Ciudad</label>
        <h2>{{empresa.ciudad}}</h2>
        <hr>
        <label for="contacto">Nombre de contacto</label>
        <h2>{{empresa.nombre_contacto}}</h2>
        <hr>
        <label for="email">Email</label>
        <h2>{{empresa.user.email}}</h2>
        <hr>
        <label for="lista" id="postulantes">Lista de convocatorias</label>
        <table class="tabla_convocatorias">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Fecha Incio</th>
                <th>Fecha final</th>
                <th>Postulaciones</th>
                <th>Estado</th>
              </tr>
            </thead>
            
            <tbody>
              {% for con in convocatorias %}
              <tr>
                <td>{{con.nombre}}</td>
                <td>{{con.fecha_inicial}}</td>
                <td>{{con.fecha_final}}</td>
                <td>{{con.postulaciones.count}}</td>
                {% if con.abierta is True %}
                <td>Cerrada</td>
                {% else %}
                <td>Abierta</td>
                {% endif %}
              </tr>
              {% endfor %}
              </tbody>
        </table>
{% endblock %}