{% extends 'app/layout_estudiante.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'app/css/consultas.css' %}">
{% endblock %}
{% block contenido %}
{% if convocatoria %}
<h1>{{convocatoria.nombre}}</h1>
<hr>
<label for="fincial">Fecha Incial</label>
<h2>{{convocatoria.fecha_inicial}}</h2>
<label for="ffinal">Fecha Final</label>
<h2>{{convocatoria.fecha_final}}</h2>
<hr>
<label for="descripcion">Descripción</label>
<p>{{convocatoria.descripcion}}</p>
<hr>
<label for="estado">Estado</label>
{% if convocatoria.abierta is True %}
<h2>Cerrada</h2>
{% else %}
<h2>Abierta</h2>
{% endif %}
{% endif %}
{% endblock %}