{% extends 'app/layout_coordinador.html' %}
{% load static %}
{% block contenido %}
<div class="presentacion">
  <h1>Bienvenido al portal de coordinadores</h1>
</div>
<div class="imagen">
  <img src="{% static 'app/img/coordinador.jpg' %}" alt="">
</div>
<div class="card">
  <p>Este portal permite crear estudiantes y llevar el control de los estudiantes en las convocatorias.</p>
</div>
{% endblock %}