{% extends 'app/layout_empresa.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/crea_convocatoria.css' %}">
{% endblock %}
{% block contenido %}
<form class="form-crear" method="POST" action="{% url 'app:crea_convocatoria_post' %}">
  <div class="header">
      <h1>Crear convocatoria</h1>
  </div>
  <div class="nombre">
      <label for="name">Nombre</label><h5>*</h5>
      <br>
      <input type="text" id="name" name="name" required autofocus>
  </div>
  <div class="finicial">
      <label for="fecha_inicial">Fecha inicial</label><h5>*</h5>
      <br>
      <input type="date" id="fecha_inicial" name="fecha_inicial" required>
  </div>
  <div class="ffinal">
      <label for="fecha_final">Fecha final</label><h5>*</h5>
      <br>
      <input type="date" name="fecha_final" id="fecha_final" required>
  </div>
  <div class="desc">
      <label for="descripcion">Descripción</label>
      <br>
      <textarea name="descripcion" id="descripcion" rows="10" cols="50"></textarea>
  </div>
  <div class="crear">
      <button class="bt_crea_convocatoria" type="submit">
      Crear convocatoria</button>
  </div>
  {% csrf_token %}
</form>
{% endblock %}
