{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear empresa</title>
    <link rel="stylesheet" href="{% static 'app/css/crea_empresa.css' %}">
</head>
<body>
    <div class="contenedor">
        <div class="parte1">
        </div>
        <div class="parte2">
            <form method="POST" action="{% url 'app:post_crea_empresa' %}" class="form-crear">
                <div class="header">
                    <h1>Crear empresa</h1>
                </div>
                <div class="nombre">
                    <label for="username">Username</label><h5>*</h5>
                    <br>
                    <input type="text" id="username" name="username" required autofocus>
                </div>
                <div class="contrasena">
                    <label for="contra">Contraseña</label><h5>*</h5>
                    <br>
                    <input type="password" id="contra" name="contra" required>
                </div>
                <div class="razon">
                    <label for="razon">Razon social</label><h5>*</h5>
                    <br>
                    <input type="text" name="razon" id="razon" required>
                </div>
                <div class="ciudad">
                    <label for="ciudad">Ciudad</label><h5>*</h5>
                    <br>
                    <input type="text" name="ciudad" id="ciudad" required>
                </div>
                <div class="contacto">
                    <label for="contacto">Nombre de contacto</label><h5>*</h5>
                    <br>
                    <input type="text" name="contacto" id="contacto" required>
                </div>
                <div class="email">
                    <label for="email">Email</label><h5>*</h5>
                    <br>
                    <input type="email" name="email" id="email">
                </div>
                <div class="crear">
                    <button class="bt_crea_empresa" type="submit">
                    Crear empresa</button>
                </div>
                {% csrf_token %}
            </form> 
        </div>
        <div class="parte3">
        </div>
    </div>
</body>
</html>