{% extends 'app/layout_coordinador.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/crea_estudiante.css' %}">
{% endblock %}
{% block contenido %}
<form class="form-crear" method="POST" action="{% url 'app:crear_estudiante_post' %}">
    <div class="header">
        <h1>Crear estudiante</h1>
    </div>
    <div class="nombre">
        <label for="name">Username</label><h5>*</h5>
        <br>
        <input type="text" id="name" name="name" required autofocus>
    </div>
    <div class="contra">
        <label for="contra">Contraseña</label><h5>*</h5>
        <br>
        <input type="password" id="contra" name="contra" required placeholder="Documento estudiante">
    </div>
    <div class="nombres">
        <label for="names">Nombres</label><h5>*</h5>
        <br>
        <input type="text" id="names" name="names" required>
    </div>
    <div class="apellidos">
        <label for="apellidos">Apellidos</label><h5>*</h5>
        <br>
        <input type="text" id="apellidos" name="apellidos"  required>
    </div>
    <div class="email">
        <label for="email">Email</label><h5>*</h5>
        <br>
        <input type="email" name="email" id="email" required>
    </div>
    <div class="crear">
        <button class="bt_crea_convocatoria" type="submit">
        Crear estudiante</button>
    </div>
    {% csrf_token %}
</form>
{% endblock %}