{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta de empresa</title>
    <link rel="stylesheet" href="{% static 'app/css/editar_convocatoria.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
    <input type="checkbox" id="check">
    <!--header area start-->
    <header>
      <div class="left_area">
        <h3>Empresa - {{ request.user.username }}</h3>
      </div> 
      <div class="right_area">
        <a href="{% url 'app:post_salir' %}" class="logout_btn">Salir</a>
      </div>
    </header>
    <div class="sidebar">
    </div>
    <div class="content">
        <form class="form-crear" method="POST" action="{% url 'app:editar_convocatoria_post' convocatoria.id%}">
            <div class="header">
                <h1>Editar convocatoria</h1>
            </div>
            <div class="nombre">
                <label for="name">Nombre</label><h5>*</h5>
                <br>
                <input type="text" id="name" name="name" value="{{convocatoria.nombre}}" required autofocus>
            </div>
            <div class="finicial">
                <label for="fecha_inicial">Fecha inicial</label><h5>*</h5>
                <br>
                <input type="date" id="fecha_inicial" name="fecha_inicial" value="{{convocatoria.fecha_inicial}}" required>
            </div>
            <div class="ffinal">
                <label for="fecha_final">Fecha final</label><h5>*</h5>
                <br>
                <input type="date" name="fecha_final" id="fecha_final" value="{{convocatoria.fecha_final}}" required>
            </div>
            <div class="crear">
                <button class="bt_crea_convocatoria" type="submit">
                Editar convocatoria</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
</body>
</html>