{% extends 'app/layout_estudiante.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/editar_perfil_estudiante.css' %}">
{% endblock %}
{% block contenido %}
<form class="form-crear" method="POST" action="{% url 'app:editar_perfil_estudiante_post' %}">
  <div class="header">
      <h1>Editar perfil estudiante</h1>
  </div>
  <div class="email">
      <label for="estado">Email</label><h5>*</h5>
      <br>
      <input type="email" id="email" name="email" value="{{estudiante.user.email}}">
  </div>
  <div class="fortalezas">
      <label for="estado">Fortalezas</label>
      <br>
      <textarea name="fortalezas" id="fortalezas" cols="50" rows="10">{{estudiante.fortalezas}}</textarea>
  </div>
  <div class="herramientas">
      <label for="estado">Herramientas</label>
      <br>
      <textarea name="herramientas" id="herramientas" cols="50" rows="10">{{estudiante.herramientas}}</textarea>
  </div>
  <div class="crear">
      <button class="bt_crea_convocatoria" type="submit">
      Editar perfil</button>
  </div>
  {% csrf_token %}
</form>
{% endblock %}