{% extends 'app/layout_empresa.html' %}
{% load static %}
{% block username %}
{% if username %}
<h3>{{ username }}</h3>
{% endif %}
{% endblock %}
{% block contenido %}
<div class="presentacion">
  <h1>Bienvenido al portal de empresas</h1>
</div>
<div class="imagen">
  <img src="{% static 'app/img/empresa.jpeg' %}" alt="">
</div>
<div class="card">
  <p>En este portal podra crear convocatorias para que los estudiantes puedan postularse y confirmar sus postulaciones.</p>
</div>
{% endblock %}