{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error postulacion</title>
    <link rel="stylesheet" href="{% static 'app/css/error_postulacion.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
    <input type="checkbox" id="check">
    <!--header area start-->
    <header>
      <div class="left_area">
        <h3>Error</h3>
      </div> 
      <div class="right_area">
      </div>
    </header>
    <div class="sidebar">
    </div>
    <div class="content">
        <form class="form-crear">
            <div class="header">
                <h1>Credenciales erroneas</h1>
            </div>
            <div class="estado">
                <p>¡No digito credenciales validas!</p>
                <a href="{% url 'app:index' %}">Regresar</a>
            </div>
        </form>
    </div>
</body>
</html>