{% extends 'app/layout_estudiante.html' %}
{% load static %}
{% block contenido %}
<div class="presentacion">
    <h1>Bienvenido al portal de estudiantes</h1>
</div>
<div class="imagen">
    <img src="{% static 'app/img/estudiante.jpg' %}" alt="">
</div>
<div class="card">
    <p>En este portal podra consultar convocatorias para poder postularse a una.</p>
</div>
{% endblock %}