{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
    <title>Inicio sesion</title>
</head>
<body>
    <div class="contenedor">
        <div class="parte1">
        </div>
        <div class="parte2">
            <form class="form-inicio" method="POST" action="{% url 'app:autenticar' %}">
                {% csrf_token %}
                <h1>Inicio de sesión</h1>
                <h5>*</h5>
                <input type="text" class="campo" placeholder="Username" required autofocus name="username">
                <h5>*</h5>
                <input type="password" class="campo" placeholder="Contraseña" required name="contra">
                <a href="#" class="olvido_contra">¿Olvidaste tu contraseña? </a> 
                <button class="bt_login" type="submit">
                    Siguiente</button>
            </form> 
        </div>
        <div class="parte3">
            <a href="{% url 'app:crea_empresa' %}" class="crea_empresa">Crear empresa</a> 
        </div>
    </div>
</body>
</html>