{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta de coordinador</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'app/css/inicio.css' %}">
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
    <input type="checkbox" id="check">
    <!--header area start-->
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area">
        <h3>Coordinador - {{ request.user.username }}</h3>
      </div> 
      <div class="right_area">
        <a href="{% url 'app:actualizar_semestre' %}" class="btn_actualizar"><i class="fas fa-sync-alt"></i> Semestre</a>
        <a href="{% url 'app:post_salir' %}" class="logout_btn">Salir</a>
      </div>
    </header>
    <div class="sidebar">
        <a href="{% url 'app:coordinador' %}"><i class="fas fa-home"></i><span>Inicio</span></a>
      <a href="{% url 'app:lista_empresas' %}"><i class="fas fa-briefcase"></i><span>Lista de empresas</span></a>
      <a href="{% url 'app:lista_convocatorias_total' %}"><i class="fas fa-th-list"></i><span>Lista de convocatorias</span></a>
      <a href="{% url 'app:lista_estudiantes' %}"><i class="fas fa-user"></i><span>Perfiles estudiantes</span></a>
      <a href="{% url 'app:crear_estudiante' %}"><i class="fas fa-pen"></i><span>Crear estudiante</span></a>
      <a href="{% url 'app:consultar_historico' %}"><i class="fas fa-history"></i><span>Historico estudiantes</span></a>
    </div>
    <div class="content">
        {% block contenido %}
        {% endblock %}
    </div>
</body>
</html>