{% extends 'app/layout_coordinador.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/listas.css' %}">
{% endblock %}
{% block contenido %}
<h1><i class="fas fa-address-card"></i> Perfiles estudiantes</h1>
        <hr>
        <table class="tablas">
            <thead>
              <tr>
                <th>Nombre(s)/Apellidos</th>
                <th>Email</th>
                <th>Postulacion</th>
                <th>Consultar</th>
              </tr>
            </thead>
            {% if estudiantes %}
            <tbody>
              {% for est in estudiantes %}{% for estado in estado_estudiantes %}
              {% if forloop.counter == forloop.parentloop.counter %}
              <tr>
                <td>{{est.user.first_name}} {{est.user.last_name}}</td>
                <td>{{est.user.email}}</td>
                {% if estado is True%}
                <td>Tiene aceptada</td>
                {% else %}
                <td>No Tiene aceptada</td>
                {% endif %}
                <td>
                    <a href="{% url 'app:consultar_estudiante' est.id%}">
                        <i class="fas fa-search"></i>
                    </a>
                </td>
              </tr>
              {% endif %} 
              {% endfor %}{% endfor %}
            </tbody>
            {% endif %}
        </table>
{% endblock %}
