{% extends 'app/layout_estudiante.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/listas.css' %}">
{% endblock %}
{% block contenido %}
<h1><i class="fas fa-calendar-check"></i> Lista de convocatorias abiertas</h1>
        <hr>
        <table class="tablas">
            <thead>
              <tr>
                <th>Empresa</th>
                <th>Nombre convocatoria</th>
                <th>Fecha inicial</th>
                <th>Fecha final</th>
                <th>Postular</th>
                <th>Consultar</th>
              </tr>
            </thead>
            {% if convocatorias %}
            <tbody>
              {% for con in convocatorias %}
              <tr>
                <td>{{con.empresa.user.username}}</td>
                <td>{{con.nombre}}</td>
                <td>{{con.fecha_inicial}}</td>
                <td>{{con.fecha_final}}</td>
                <td>
                    <a href="{% url 'app:confirmar_postulacion' con.id %}">
                        <i class="far fa-check-circle"></i>
                    </a>
                </td>
                <td>
                  <a href="{% url 'app:consulta_convocatoria_abierta' con.id %}">
                    <i class="fas fa-search"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            {% endif %}
        </table>
{% endblock %}