{% extends 'app/layout_estudiante.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/listas.css' %}">
{% endblock %}
{% block contenido %}
<h1><i class="fas fa-file-contract"></i> Lista de mis postulaciones</h1>
        <hr>
        <table class="tablas">
            <thead>
              <tr>
                <th>Empresa</th>
                <th>Nombre convocatoria</th>
                <th>Fecha postulacion</th>
                <th>Estado postulacion</th>
                <th>Consultar</th>
              </tr>
            </thead>
            {% if postulaciones %}
            <tbody>
              {% for pos in postulaciones %}
              <tr>
                <td>{{pos.convocatoria.empresa.user.username}}</td>
                <td>{{pos.convocatoria.nombre}}</td>
                <td>{{pos.fecha_creacion}}</td>
                {% if pos.aceptada is True %}
                <td>Aceptada</td>
                {% else %}
                <td>Rechazada</td>
                {% endif %}
                <td>
                    <a href="{% url 'app:consultar_postulacion' pos.id %}">
                        <i class="fas fa-search"></i>
                    </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            {% endif %}
        </table>
{% endblock %}