{% extends 'app/layout_coordinador.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/listas.css' %}">
{% endblock %}
{% block contenido %}
<table class="tablas">
  <h1><i class="fas fa-list-alt"></i> Lista de convocatorias</h1>
  <hr>
  <table class="tablas">
      <thead>
        <tr>
          <th>Nombre convocatoria</th>
          <th>Empresa</th>
          <th>Fecha Incio</th>
          <th>Fecha final</th>
          <th>Postulaciones</th>
          <th>Estado</th>
          <th>Consultar</th>
        </tr>
      </thead>
      {% if convocatorias %}
      <tbody>
        {% for con in convocatorias %}
        <tr>
          <td>{{con.nombre}}</td>
          <td>{{con.empresa.user.username}}</td>
          <td>{{con.fecha_inicial}}</td>
          <td>{{con.fecha_final}}</td>
          <td>{{con.postulaciones.count}}</td>
          {% if con.abierta is True %}
          <td id="Estado">Cerrada</td>
          {% else %}
          <td id="Estado">Abierta</td>
          {% endif %}
          <td>
            <a href="{% url 'app:consulta_convocatorias_total' con.id %}">
              <i class="fas fa-search"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}  
  </table>
</table>
{% endblock %}



