{% extends 'app/layout_empresa.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'app/css/listas.css' %}">
{% endblock %}
{% block contenido %}
<h1><i class="fas fa-list-alt"></i> Lista de convocatorias</h1>
        <hr>
        <table class="tablas">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Fecha Incio</th>
                <th>Fecha final</th>
                <th>Postulaciones</th>
                <th>Estado</th>
                <th>Cerrar</th>
                <th>Editar</th>
                <th>Consultar</th>
              </tr>
            </thead>
            {% if convocatorias %}
            <tbody>
                {% for con in convocatorias %}
              <tr>
                <td>{{con.nombre}}</td>
                <td>{{con.fecha_inicial}}</td>
                <td>{{con.fecha_final}}</td>
                <td>{{con.postulaciones.count}}</td>
                {% if con.abierta is True %}
                <td id="Estado">Cerrada</td>
                {% else %}
                <td id="Estado">Abierta</td>
                {% endif %}
                {% if con.abierta is True %}
                <td><i class="fas fa-check-circle"></i></td>
                {% else %}
                <td>
                  <a href="{% url 'app:cerrar_convocatoria' con.id%}">
                    <i class="fas fa-times-circle"></i>
                  </a>
                </td>
                {% endif %}
                {% if con.postulaciones.count == 0 %}
                <td>
                    <a href="{% url 'app:editar_convocatoria' con.id%}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                {% else %}
                <td>No puede</td>
                {% endif %}
                <td>
                    <a href="{% url 'app:consulta_convocatoria' con.id %}">
                        <i class="fas fa-search"></i>
                    </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>  
            {% endif %}  
        </table>
{% endblock %}

