{% extends 'app/layout_coordinador.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/listas.css' %}">
{% endblock %}
{% block contenido %}
<h1><i class="fas fa-briefcase"></i> Lista de empresas</h1>
<hr>
<table class="tablas">
    <thead>
      <tr>
        <th>Nombre empresa</th>
        <th>Ciudad</th>
        <th>Contacto</th>
        <th>Email</th>
        <th>Consultar</th>
      </tr>
    </thead>
    {% if lista_empresas %}
    <tbody>
      {% for em in lista_empresas %}
      <tr>
        <td>{{em.user.username}}</td>
        <td>{{em.ciudad}}</td>
        <td>{{em.nombre_contacto}}</td>
        <td>{{em.user.email}}</td>
        <td>
            <a href="{% url 'app:consultar_empresa' em.id%}">
                <i class="fas fa-search"></i>
            </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    {% endif %}
</table>
{% endblock %}

