body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header{
  z-index: 1;
  position: fixed;
  background: #B67AE0;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.left_area h3{
  color: #fff;
  margin-left: 70px;
  display: inline;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 900;
}

.left_area span{
  color: #19B3D3;
}

.logout_btn{
  padding: 5px;
  background: #85B6DB;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  transition: 0.5s;
  transition-property: background;
  text-transform: uppercase;
}

.logout_btn:hover{
  background: #0B87A6;
}

.content{
    width: (100%);
    margin-top: 100px;
    padding-left: 20px;
    margin-right: 20px;
    background: white;
    background-position: center;
    background-size: cover;
}

.cuadro{
    width: 50%;
    margin-left: 300px;
}

.header{
    z-index: 1;
    position: fixed;
    background: #0B87A6;
    width: 50%;
    height: 45px;
}

.header p{
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    margin-top: 10px;
}
.cuerpo{
    width: 70.5%;
    padding: 100px;
    border: 2px solid #0B87A6;
    margin-left: 0;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

.cuerpo #si{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.cuerpo a{
  display: inline;
  padding: 5px;
  background: #85B6DB;
  text-decoration: none;
  border-radius: 2px;
  font-size: 15px;  
  color: white;
  transition: 0.5s;
  transition-property: background;
  text-transform: uppercase;   
  width: 100%; 
  text-align: center;
  margin-left: 50px;
}
button{
  display: inline;
  padding: 5px;
  background: #85B6DB;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 15px;  
  color: white;
  transition: 0.5s;
  transition-property: background;
  text-transform: uppercase;   
  text-align: center;
  margin-left: 100px;
}
 .cuerpo a:hover{
    background: #0B87A6;
 }
 button:hover{
  background: #0B87A6;
  cursor: pointer;
 }