body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header{
  z-index: 1;
  position: fixed;
  background: #B67AE0;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.left_area h3{
  color: #fff;
  margin-left: 70px;
  display: inline;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 900;
}

.left_area span{
  color: #19B3D3;
}

.logout_btn{
  padding: 5px;
  background: #85B6DB;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  transition: 0.5s;
  transition-property: background;
  text-transform: uppercase;
  text-transform: uppercase;
}

.logout_btn:hover{
  background: #0B87A6;
}

.sidebar{
  z-index: 1;
  top: 0;
  background: #B67AE0;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a{
    color: white;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: #0B87A6;
}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
    z-index: 1;
    color: white;
    position: fixed;
    cursor: pointer;
    left: 20px;
    font-size: 30px;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
  color: #0B87A6;
}

#check:checked ~ .sidebar{
  left: -185px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content{
    width: (100% - 250px);
    margin-top: 70px;
    padding-left: 20px;
    margin-left: 250px;
    margin-right: 20px;
    background: white;
    background-position: center;
    background-size: cover;
}

#check:checked ~ .content{
    margin-left: 80px;
}

.content .form-crear{
    border-radius: 20px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr 1fr;
}

.header{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    padding-left: 20px;
}

.nombre{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.finicial{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.ffinal{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

.desc{
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}

.crear{
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

.nombre #name, .finicial #fecha_inicial, .ffinal #fecha_final{
    direction: ltr;
    height: 40px;
    width: 80%;
    font-size: 16px;
    padding: 10px;
    border-radius: 3px;
    margin-left: 30px;
    border-color: rgba(0, 0, 0, 0.192);
}
.desc #descripcion{
    border-color: rgba(0, 0, 0, 0.192);
    border-radius: 3px;
    font-size: 16px;
    width: 80%;
    margin-left: 30px;
    padding: 10px;
    direction: ltr;
}
.nombre #name:focus, .finicial #fecha_inicial:focus, .ffinal #fecha_final:focus, .desc #descripcion:focus{
    border-color: rgb(162, 201, 218);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.007),0 0 8px #88A8F2;
}

.content label{
    padding-left: 30px;
    display: inline;
}

.crear .bt_crea_convocatoria{
    margin: 35px 150px;
    background-color: #85B6DB;
    color: white;
    width: 45%;
    font-size: 20px;
    height: 56px;
    border-radius: 5px; 
    border: none;
}

.crear .bt_crea_convocatoria:hover{
    background-color: #0B87A6;
    cursor: pointer;
}

h5{
    color: rgba(255, 0, 0, 0.5);
    padding: 0;
    margin: 0;
    display: inline;
}

