body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header{
  z-index: 1;
  position: fixed;
  background: #B67AE0;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.left_area h3{
  color: #fff;
  margin-left: 70px;
  display: inline;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 900;
}

.left_area span{
  color: #19B3D3;
}

.logout_btn{
  padding: 5px;
  background: #85B6DB;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  transition: 0.5s;
  transition-property: background;
  text-transform: uppercase;
}

.logout_btn:hover{
  background: #0B87A6;
}

.content{
    width: (100%);
    margin-top: 70px;
    padding-left: 20px;
    margin-right: 20px;
    background: white;
    background-position: center;
    background-size: cover;
}

.content .form-crear{
    border-radius: 20px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr;
}

.header{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding-left: 20px;
}

.estado{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.estado p{
    display: inline;
    text-align: center;
    font-size: 30px;
    color: #0B87A6;
    text-transform: uppercase;
    margin-left: 300px;
}

.estado a{
  display: inline;
  text-decoration: none;
  padding: 3px;
  background: #85B6DB;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 15px;  
  color: white;
  transition: 0.5s;
  transition-property: background;
  text-transform: uppercase;   
  text-align: center;
  margin-left: 500px;
}

.estado a:hover{
  background: #0B87A6;
}