body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header{
  z-index: 1;
  position: fixed;
  background: #B67AE0;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.left_area h3{
  color: #fff;
  margin-left: 70px;
  display: inline;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 900;
}

.left_area span{
  color: #19B3D3;
}

.logout_btn{
  padding: 5px;
  background: #85B6DB;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  transition: 0.5s;
  transition-property: background;
  text-transform: uppercase;
}

.logout_btn:hover{
  background: #0B87A6;
}

.btn_actualizar{
  padding: 5px;
  background: #85B6DB;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 110px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  transition: 0.5s;
  transition-property: background;
  text-transform: uppercase;
}
.btn_actualizar:hover{
  background: #0B87A6;
}
.sidebar{
  z-index: 1;
  top: 0;
  background: #B67AE0;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a{
    color: white;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: #0B87A6;
}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
    z-index: 1;
    color: white;
    position: fixed;
    cursor: pointer;
    left: 20px;
    font-size: 30px;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
  color: #0B87A6;
}

#check:checked ~ .sidebar{
  left: -185px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content{
  width: (100% - 250px);
  margin-top: 70px;
  padding-left: 20px;
  margin-left: 250px;
  margin-right: 20px;
  background: white;
  background-position: center;
  background-size: cover;
}

#check:checked ~ .content{
    margin-left: 60px;
}

.tablas{
    width: 100%; 
    max-width: 100%; 
    background-color: transparent; 
    border-collapse: separate; 
    display: table; 
    border-color: grey;
}

.tablas th{
    background: #0B87A6;
    color: white;
    border: 1px solid #ddd;
    padding: 5px;
}

.tablas td{
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px;
}

.tablas tr:nth-child(even){
    background-color: #f2f2f2;
}

.tablas tr:hover{
    background-color: #ddd;
}

.tablas a{
    color: grey;
}